<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.whatsappclone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsappClone"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".activity.GroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity
            android:name=".activity.OTPactivity"
            android:label="PhoneNumber Verification"
            android:parentActivityName=".activity.PhoneNumberAuthentication"
            android:theme="@style/Theme.WhatsappClone" />
        <activity
            android:name=".activity.PhoneNumberAuthentication"
            android:theme="@style/Theme.WhatsappClone"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/Theme.WhatsappClone" />
        <activity
            android:name=".activity.SetupProfileActivity"
            android:theme="@style/Theme.WhatsappClone" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>